@charset "UTF-8";

/* #mainForm高さ調整 */
#mainForm {
  height: calc(100vh - 100px);
  min-height: 350px
}

/* ヘッダテーブルの表示窓 */
#header-Table1  {
  width: 800px;
  max-width: calc(100vw - 80px);
  margin: auto;
}
