@charset "UTF-8";

/* #mainForm高さ調整 */
#mainForm {
  padding: 40px 10px 20px 10px;
  min-height: 500px;
}

/*--------------------------------------------------
* .navbar #rmenu-pagefooter のマージン
---------------------------------------------------- */
.navbar {
  margin-bottom: 12px;
}

.navbar-nav {
  margin: 0;
}

#rmenu-pagefooter {
  margin-top: 12px !important;
}

/* CSS Document */
/* ---------------------------------------------------- */
.rmenu-nav-menu-ul {
    padding: 0 15px;
}

.col-sm-offset-3 {
  margin: 9vh auto 0;
}
.col-sm-6 {
  width: 100%;
  max-width: 450px;
  font-size: 16px;
  float: none;
}


.width400 {
  width: 100%;
  max-width: 400px;
}

/* タブレット用のCSS定義 */
@media (min-width: 768px) {
  .col-sm-offset-3 {
    margin: 9vh auto 0;
  }
  .col-sm-6 {
    width: 100%;
    max-width: 400px;
    font-size: 18px;
    float: none;
  }
}
