@charset "UTF-8";
/* CSS Document */

/*-----------------------------------------------
 *  AdPackOrder Orders ‰æ–Ê—pcss
 *----------------------------------------------- */
.input-sm {
  height: 25px;
  padding: 1px 2px;
  font-size: 14px;
  line-height: 1.5;
  border-radius: 4px;
}

select.input-sm {
  height: 25px;
  line-height: 25px;
}

.table-condensed > thead > tr > th,
.table-condensed > tbody > tr > th,
.table-condensed > tfoot > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > td {
  padding: 1px;
}

.table-condensed > thead > tr > th,
.table-condensed > tbody > tr > th,
.table-condensed > tfoot > tr > th {
  font-size: 13px;
}

.input-group-addon,
.btn-sm,
.btn-group-sm > .btn {
  padding: 1px 10px;
  font-size: 14px;
  line-height: 1.5;
  border-radius: 4px;
}

.glyphicon.glyphicon-th {
  font-size: 13px;
}
.nav-stacked > li + li {
    margin-top: 0px;
}

.rmenuTable {
    margin-bottom: 4px;
}

.panel {
  margin-bottom: 5px;
  background-color: #ffffff;
  border: 1px solid transparent;
  border-radius: 6px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.panel-body {
  padding: 5px;
}
.panel-heading {
  padding: 3px 3px;
  border-bottom: 1px solid transparent;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  font-size: 15px;
}
.panel-heading > .dropdown .dropdown-toggle {
  color: inherit;
}
