@charset "UTF-8";

/* 全体の表示窓 */
#scrollable-Frame  {
  width: calc(1840px + 0px);
  height: calc(780px + 0px);
  max-width: calc(100vw - 80px);
  margin: 10px auto;
}



/* スクロールテーブル1の表示窓の表示窓 */
#scrollable-Table1  {
  width: 300px;
  height: 100%;
  margin: 0px;
}

/* スクロールテーブル1のヘッダのヘッダ */
#scrollable-HTable1  {
  width: 100%;
  height: 34px;
  overflow: hidden;
}

/* スクロールテーブル1のヘッダのヘッダの明細 */
#scrollable-DTable1  {
  overflow-x: auto;      /* 水平スクロールバー auto:自動表示 hidden:非表示 */
  overflow-y: auto;      /* 垂直スクロールバー auto:自動表示 hidden:非表示 */
  width: 100%;
  height: 760px;
}

#mainTableH1 {
  table-layout: fixed;
  width: 100%;
}

/* 幅のオーバ部分を折り返す指示 */
#mainTableH1 {
  word-break: break-all;
  white-space: normal;
}

#mainTableH1 tr {
  height: 32px;
}

#mainTable1 {
  table-layout: fixed;
  width: 100%;
  height: 100%;
  cursor:pointer;     /* iOS用 pointerでクリックイベントが発生する */
}

#mainTable1 tr {
  height: 16px;
}



/* スクロールテーブル２の表示窓の表示窓 */
#scrollable-Table2  {
  width: 300px;
  height: 100%;
  margin: 0px;
}

/* スクロールテーブル1のヘッダのヘッダ */
#scrollable-HTable2  {
  width: 100%;
  height: 34px;
  overflow: hidden;
}

/* スクロールテーブル1のヘッダのヘッダの明細 */
#scrollable-DTable2  {
  overflow-x: auto;      /* 水平スクロールバー auto:自動表示 hidden:非表示 */
  overflow-y: auto;      /* 垂直スクロールバー auto:自動表示 hidden:非表示 */
  width: 100%;
  height: 760px;
}

#mainTableH2 {
  table-layout: fixed;
  width: 100%;
}

/* 幅のオーバ部分を折り返す指示 */
#mainTableH2 {
  word-break: break-all;
  white-space: normal;
}

#mainTableH2 tr {
  height: 32px;
}

#mainTable2 {
  table-layout: fixed;
  width: 100%;
  height: 100%;
  cursor:pointer;     /* iOS用 pointerでクリックイベントが発生する */
}

#mainTable2 tr {
  height: 16px;
}



/* スクロールテーブル３の表示窓の表示窓 */
#scrollable-Table3  {
  width: 300px;
  height: 100%;
  margin: 0px;
}

/* スクロールテーブル1のヘッダのヘッダ */
#scrollable-HTable3  {
  width: 100%;
  height: 34px;
  overflow: hidden;
}

/* スクロールテーブル1のヘッダのヘッダの明細 */
#scrollable-DTable3  {
  overflow-x: auto;      /* 水平スクロールバー auto:自動表示 hidden:非表示 */
  overflow-y: auto;      /* 垂直スクロールバー auto:自動表示 hidden:非表示 */
  width: 100%;
  height: 760px;
}

#mainTableH3 {
  table-layout: fixed;
  width: 100%;
}

#mainTableH3 tr {
  height: 32px;
}

#mainTable3 {
  table-layout: fixed;
  width: 100%;
  height: 100%;
  cursor:pointer;     /* iOS用 pointerでクリックイベントが発生する */
}

#mainTable3 tr {
  height: 16px;
}



/* スクロールテーブル４の表示窓の表示窓 */
#scrollable-Table4  {
  width: 300px;
  height: 100%;
  margin: 0px;
}

/* スクロールテーブル1のヘッダのヘッダ */
#scrollable-HTable4  {
  width: 100%;
  height: 34px;
  overflow: hidden;
}

/* スクロールテーブル1のヘッダのヘッダの明細 */
#scrollable-DTable4  {
  overflow-x: auto;      /* 水平スクロールバー auto:自動表示 hidden:非表示 */
  overflow-y: auto;      /* 垂直スクロールバー auto:自動表示 hidden:非表示 */
  width: 100%;
  height: 760px;
}

#mainTableH4 {
  table-layout: fixed;
  width: 100%;
}

#mainTableH4 tr {
  height: 32px;
}

#mainTable4 {
  table-layout: fixed;
  width: 100%;
  height: 100%;
  cursor:pointer;     /* iOS用 pointerでクリックイベントが発生する */
}

#mainTable4 tr {
  height: 16px;
}

/* スクロールテーブル５の表示窓の表示窓 */
#scrollable-Table5  {
  width: 600px;
  height: 100%;
  margin: 0px;
}



/* スクロールテーブル５のヘッダのヘッダ */
#scrollable-HTable5  {
  width: 100%;
  height: 34px;
  overflow: hidden;
}

/* スクロールテーブル1のヘッダのヘッダの明細 */
#scrollable-DTable5  {
  overflow-x: auto;      /* 水平スクロールバー auto:自動表示 hidden:非表示 */
  overflow-y: auto;      /* 垂直スクロールバー auto:自動表示 hidden:非表示 */
  width: 100%;
  height: 355px;
}

#mainTableH5 {
  table-layout: fixed;
  width: 100%;
}

#mainTableH5 tr {
  height: 32px;
}

#mainTable5 {
  table-layout: fixed;
  width: 100%;
  height: 100%;
  cursor:pointer;     /* iOS用 pointerでクリックイベントが発生する */
}

#mainTable5 tr {
  height: 16px;
}



/* スクロールテーブル６の表示窓の表示窓 */
#scrollable-Table6  {
  width: 600px;
  height: 100%;
  margin: 0px;
}

/* スクロールテーブル1のヘッダのヘッダ */
#scrollable-HTable6  {
  width: 100%;
  height: 34px;
  overflow: hidden;
}

/* スクロールテーブル1のヘッダのヘッダの明細 */
#scrollable-DTable6  {
  overflow-x: auto;      /* 水平スクロールバー auto:自動表示 hidden:非表示 */
  overflow-y: auto;      /* 垂直スクロールバー auto:自動表示 hidden:非表示 */
  width: 100%;
  height: 355px;
}

#mainTableH6 {
  table-layout: fixed;
  width: 100%;
}

#mainTableH6 tr {
  height: 32px;
}

#mainTable6 {
  table-layout: fixed;
  width: 100%;
  height: 100%;
  cursor:pointer;     /* iOS用 pointerでクリックイベントが発生する */
}

#mainTable6 tr {
  height: 16px;
}


#プロジェクト選択, #プログラム選択, #モード選択 {
  height: 24px;
  border-color: #EEF1F9;
  background-color: #EEF1F9;
}

#プログラム選択, #テーブル選択 {
  height: 22px;
  border-color: #EEF1F9;
  background-color: #EEF1F9;
}

